/* ================ 전체 ================ */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #F8FAFC;
}
*{ padding: 0px; margin: 0px; box-sizing: border-box;}
li{ list-style-type: none;}
a{ text-decoration: none; color: black;}
body{ background-color: #F8FAFC;}

img{width: 15px; margin-right: 8px;} /*지워야 함*/


/* ================ 폰트 ================ */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

* {
    font-family: 'Inter';
}

/* ================ 헤더 ================ */

#header {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: #D9D9D9 solid 1px;
}
#header > #header_inner{ 
    width: 1280px; margin: 0 auto; 
    display: flex; justify-content: space-between; align-items: center;
    padding: 25px 0px;
}
.h_logo{ width: 139px;}
.h_center{
    width: 1100px;
}
.h_btn{
    border: solid 3px white;
    padding: 10px 20px; margin-right: 30px;
    border-radius: 10px; font-size: 20px;
}
.h_btn:hover{
    border: solid 3px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right bottom, #3499DA , #9645D6);
    background-origin: border-box; background-clip: padding-box, border-box;
}


/* ================ 본문 ================ */

#main_board {
    width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#main_board>div {
    margin: 20px;
    padding: 10px;
}

#member {
    width: 30%;
    background-color: white;
    padding: 20px;
    margin-right: 30px;
    border-radius: 15px;
    border: 2px solid #eeeeee;
    box-shadow: 2px 2px 4px #333333;
}

#member_id{
  width: 350px;
  border: 2px solid #eeeeee;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

#member_id > div{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    
}

.we{
    background-color: rgba(23, 181, 157, 0.142);
    color: green;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: -5px;
}

#member_id > button{
    width: 330px;
    display: block;
    margin: 0 auto;
    padding: 8px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #000000 ;
    color: white;
    border: none;
    border-radius: 10px;
}

.q{
    font-size: 12px;
    margin: -25px 0px;

}


/* ================================ payment ================================== */
#payment {
    width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #eeeeee;
    box-shadow: 2px 2px 4px #333333;
}

#payment>div {
    padding: 10px;
    margin-bottom: 10px;
}

#payment>div>table {
    width: 100%;
    text-align: center;
    border: 2px solid #eeeeee;
}

#th {
    background-color: #F8FAFC;
}

#th>th {
    padding: 20px;

}

#td>td {
    padding: 15px;
}



























/* ================ 푸터 ================ */
#footer{
    width: 100%; background-color: #373D4D; margin-top: 50px;
    border-top-left-radius: 30px; border-top-right-radius: 30px;
    color: #E0E0E0; font-size: 15px;
    font-weight: 100;
}
#footer > #footer_inner_top{ 
    width: 1280px; margin: 0 auto; 
    display: flex; justify-content: space-between; align-items: center;
    padding: 40px 0px;
    
    display: flex; justify-content: space-between;
    align-items: start;
}
.f_infor > div{
    margin: 10px 0;
}
.f_infor > h2{  /*폰트 컬러 바꾸기 인터넷 찾아봤습니다.*/
    width: 150px; font-size: 30px;
    background-image: linear-gradient(to right bottom, #3499DA, #9645D6);
    background-clip: text; -webkit-background-clip: text; color: transparent;
}
.f_link > ul > li{
    margin-top: 5px;
}
.f_link > ul > li > a{
    color: #E0E0E0; font-size: 15px;
}
.f_link > ul > li > h3{
    margin: 10px 0;
    font-weight: 500;
}
#footer_bottom{
    border-top: solid 1px #BABABA;
    width: 100%; background-color: #373D4D;
    color: #E0E0E0; font-size: 15px;
    font-weight: 100;
}
#footer_inner_bottom{  
    width: 1280px; margin: 0 auto; 
    display: flex; justify-content: space-between; align-items: center;
    padding: 40px 0px;
}
#footer_inner_bottom > div{
    word-spacing: 8px;
    letter-spacing: 2px;
}