/* ================ 전체 ================ */

*{ padding: 0px; margin: 0px; box-sizing: border-box;}
li{ list-style-type: none;}
a{ text-decoration: none; color: black;}
body{ background-color: #F8FAFC;}


/* ================ 폰트 ================ */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
*{ font-family: 'Inter'; }

/* ================ 헤더 ================ */

#header{ 
    width: 100%; background-color: white; 
    border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;
    border-bottom: #D9D9D9 solid 1px;
}
#header > #header_inner{ 
    width: 1280px; margin: 0 auto; 
    display: flex; justify-content: space-between; align-items: center;
    padding: 25px 0px;
}
.h_logo{ width: 139px;}
.h_center{
    width: 1100px;
}
.h_btn{
    border: solid 3px white;
    padding: 10px 20px; margin-right: 30px;
    border-radius: 10px; font-size: 20px;
}
.h_btn:hover{
    border: solid 3px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right bottom, #3499DA , #9645D6);
    background-origin: border-box; background-clip: padding-box, border-box;
}


/* ================ 본문 ================ */




/* ==== 제품 검색 목록 (상단) ==== */
#pdt_top{
    margin: 50px auto; width: 948px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px gray;
    justify-items: center;
}
#pdt_top_title{ 
    font-size: 25px;
    padding-top: 30px; padding-bottom: 10px;
    color: #0F172B;
}

#pdt_top_title2{
    font-size: 20px;
    padding-bottom: 20px;
}

#searchline{padding-bottom: 20px;}

.pNameInput{
    width: 445px; padding: 12px 8px; 
    border-radius: 6px; border: 1px solid #CAD5E2;
    margin-right: 20px;
}

.invsearchbtn{ 
    justify-content: space-between;
    border-radius: 6px; border: 1px solid #CAD5E2;
    background-color: #4F39F6; color: white;
 width: 70px; height: 45px;}


#pdt_name_search > table > thead{
    background-color: #E2E8F0;
    height: 35px;
}

#pdt_name_search > table{
width: 900px;
}
#pdt_list_body td{
    text-align: center;
    padding: 30px;
    
}
#pdt_list_body td > button{background-color: #E0E0E0;
border: 1px solid #eeeeee; padding: 7px;
border-radius: 10px; }
    


/* ==== 제품 검색 목록 (하단) ==== */

#m_search{
    margin: 50px auto; width: 948px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px gray;
    justify-items: center;
}
.m_s_title{
    width: 906px; height: 24px;
    padding-top: 30px; padding-bottom: 50px ;
    font-size: 20px; color: #0F172B;
}
#m_search > .m_s_head{
    width: 906px;
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
}
#m_search > .m_s_head > div{
    display: block; margin-bottom: 10px;
}
.m_s_head > div > h3{
    font-size: 17px; color: #314158; font-weight: 500;
    margin-bottom: 10px; margin-left: 3px; margin-top: 5px;
}
#m_search > .m_s_head > div >span{
    margin: 0 4px;
}
.m_s_name , .m_s_b , .m_s_k{
    width: 445px; padding: 12px 8px; 
    border-radius: 6px; border: 1px solid #CAD5E2;
}
.m_s_min , .m_s_max{
    width: 209.21px; padding: 12px 8px; 
    border-radius: 6px; border: 1px solid #CAD5E2;
}
.m_s_h_b{
    width: 906px; display: flex; text-align: right;
}
#m_search > .m_s_head > div > button{
    width: 60px; height: 36px; margin-top: 5px;
    background-color: #9645D6 ; color: white;
    border-radius: 6px; border: none;
}
.m_s_list{  /* 제품 등록 영역 */
    width: 906px; padding-bottom: 50px;
}
.m_s_list > table{
    width: 906px; border-collapse: collapse;    
}
.m_s_list > table > thead{
    background-color: #E2E8F0;
}
.m_s_list > table > thead > tr > th{    /* 추후에 nth인가 사용해서 width 설정하기. */
    font-size: 17px; color: #0F172B;
    border-bottom: solid 1px #e9ebee; font-weight: 400;
    padding: 10px 0;
}
.m_s_list > table > tbody > tr > td{
    font-size: 17px; text-align: center;
    border-bottom: solid 1px #e9ebee; 
    padding: 10px 0;
}
.m_s_tbody > tr > td > button{
    width: 70px; background-color: #9645D6 ;
    color: white; border: none;
    padding: 10px 0; border-radius: 5px;
}
.m_s_tbody img{
    max-width: 64px; max-height: 64px;
    object-fit: cover;
}






/* ================ 푸터 ================ */
#footer{
    width: 100%; background-color: #373D4D; margin-top: 50px;
    border-top-left-radius: 30px; border-top-right-radius: 30px;
    color: #E0E0E0; font-size: 15px;
    font-weight: 100;
}
#footer > #footer_inner_top{ 
    width: 1280px; margin: 0 auto; 
    display: flex; justify-content: space-between; align-items: center;
    padding: 40px 30px;
    
    display: flex; justify-content: space-between;
    align-items: start;
}
.f_infor > div{
    margin: 10px 0;
}
.f_infor > h2{  /*폰트 컬러 바꾸기 인터넷 찾아봤습니다.*/
    width: 150px; font-size: 30px;
    background-image: linear-gradient(to right bottom, #3499DA, #9645D6);
    background-clip: text; -webkit-background-clip: text; color: transparent;
}
.f_link > ul > li{
    margin-top: 5px;
}
.f_link > ul > li > a{
    color: #E0E0E0; font-size: 15px;
}
.f_link > ul > li > h3{
    margin: 10px 0;
    font-weight: 500;
}
#footer img{width: 15px; margin-right: 8px;}
#footer_bottom{
    border-top: solid 1px #BABABA;
    width: 100%; background-color: #373D4D;
    color: #e0e0e0ab; font-size: 15px;
    font-weight: 100;
}
#footer_inner_bottom{  
    width: 1280px; margin: 0 auto; 
    display: flex; justify-content: space-between; align-items: center;
    padding: 40px 25px;
}
#footer_inner_bottom > div{
    word-spacing: 5px;
    letter-spacing: 3px;
}